<!--
	パッケージツアー商品一覧画面（ID:）
	All Right Reserved, Copyright(c) Fujitsu Learning Media Limited
	version 1.0
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<LINK rel="stylesheet" type="text/css" href="Style.css">
<title>販売管理システム</title>
</head>

<body>

<jsp:include page="/head.jsp" flush="true"/>

<div class="title">
	<h2>パッケージツアー商品一覧</h2>
</div>

<div class="right">
	<form action="/tourSystemans/tsys" method="POST" name="inputFom">
		<!-- 次画面ID用フィールド -->
		<input type="hidden" name="BUTTON_ID" value="">
		<div align=center>
			<div align=left class="list2">
				<table border=1 cellspacing="0" cellpadding="2px" class="list"  width="240">
					<tr>
						<td width="110" class="colume">出発年月</td>
						<td>${param.DATE}</td>
					</tr>
					<tr>
						<td width="110" class="colume">地区名</td>
						<td>${requestScope.destinationName}</td>
					</tr>
				</table>
			</div>

			<br>

			<div  align=left class="list2">
				<table border=1 cellspacing="0" cellpadding="2px" class="list"  width="620">
					<tr>
						<th width="90" class="colume">商品コード</th>
						<th width="250" class="colume">ツアー名</th>
						<th width="70" class="colume">開催日</th>
						<th width="70" class="colume">料金</th>
					</tr>
			<c:forEach var="tour"
				items="${requestScope.tourList}" varStatus="status">
					<tr>
						<td>
							<a href="/tourSystemans/tsys?BUTTON_ID=0601_02_01&ITEM_CODE=${tour.itemCode}">
								<c:out value="${tour.itemCode }" />
							</a>
						</td>
						<td><c:out value="${tour.itemName }" /></td>
						<td><c:out value="${tour.price }" /></td>
						<td align="right"><c:out value="${tour.stock }" /></td>
					</tr>
			</c:forEach>
				</table>
			</div>

			<br>
		</div>

			<!-- メッセージ -->
			<div id="message" align="center" style="color:#FF0000">
				<c:out value="${requestScope.message }" escapeXml="false"/>
			</div>

		<div align="right">
			<!-- ボタン -->
			<c:if test="${sessionScope.member.role=='Employee' }">
				<input type="button" name="cmdSubmit" value="商品販売メニュー" class="cmdbutton3"
						onClick="this.form.BUTTON_ID.value='M02_02'; this.form.submit()">
			</c:if>
		</div>

	</form>
</div>

<jsp:include page="/foot.jsp" flush="true"/>

</body>
</html>