<!--
	パッケージツアー登録確認画面（ID:）
	All Right Reserved, Copyright(c) Fujitsu Learning Media Limited
	version 1.0
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<LINK rel="stylesheet" type="text/css" href="Style.css">
<title>販売管理システム</title>
</head>

<body>

<jsp:include page="/head.jsp" flush="true"/>

<div class="title">
	<h2>パッケージツアー商品詳細</h2>
</div>

<div class="right">
	<div align="center">
		<form action="/tourSystemans/tsys" method="POST" name="inFom">
			<!-- 次画面ID用フィールド -->
			<input type="hidden" name="BUTTON_ID" value="">
			<input type="hidden" name="ITEM_CODE" value="${requestScope.tour.itemCode }">

			<table border=1 cellspacing="0" cellpadding="4px" align="center">
				<tr>
					<td width="130px" class="colume">商品コード</td>
					<td><c:out value="${requestScope.tour.itemCode }" /></td>
				</tr>
				<tr>
					<td class="colume">ツアー名</td>
					<td><c:out value="${requestScope.tour.itemName }" /></td>
				</tr>
				<tr>
					<td class="colume">地区</td>
					<td><c:out value="${requestScope.tour.destinationName }" /></td>
				</tr>
				<tr>
					<td class="colume">開催日</td>
					<td><c:out value="${requestScope.tour.date}" /></td>
				</tr>
				<tr>
					<td class="colume">日数</td>
					<td><c:out value="${requestScope.tour.days }" /></td>
				</tr>
				<tr>
					<td class="colume">宿泊日数</td>
					<td><c:out value="${requestScope.tour.nights }" /></td>
				</tr>
				<tr>
					<td class="colume">料金</td>
					<td><c:out value="${requestScope.tour.price }" /></td>
				</tr>
				<tr>
					<td class="colume">ホテル名</td>
					<td><c:out value="${requestScope.tour.hotelName }" /></td>
				</tr>
				<tr>
					<td class="colume">往路便</td>
					<td><c:out value="${requestScope.tour.outwardFlightName }" /></td>
				</tr>
				<tr>
					<td class="colume">復路</td>
					<td><c:out value="${requestScope.tour.homewardFlightName }" /></td>
				</tr>
				<tr>
					<td class="colume">在庫数</td>
					<td><c:out value="${requestScope.tour.stock }" /></td>
				</tr>
				<tr>
					<td class="colume">数量</td>
					<td><input type="text" name="QUANTITY" value=""></td>
				</tr>
			</table>

			<br>
			<!-- ボタン -->
			<input type="button" name="cmdSubmit" value="カートに入れる" class="cmdbutton"
						onClick="this.form.BUTTON_ID.value='0601_03_01'; this.form.submit()">

			<br><br>

			<!-- メッセージ -->
			<div id="message" align="center" style="color:#FF0000">
				<c:out value="${requestScope.message }" escapeXml="false"/>
			</div>

			<br>

			<div align="right">
				<!-- ボタン -->
				<c:if test="${sessionScope.member.role=='Employee' }">
				<input type="button" name="cmdSubmit" value="商品販売メニュー" class="cmdbutton3"
						onClick="this.form.BUTTON_ID.value='M02_02'; this.form.submit()">
				</c:if>
			</div>
		</form>
	</div>
</div>

<jsp:include page="/foot.jsp" flush="true"/>

</body>
</html>