<!--
	フライト登録確認画面（ID:）
	All Right Reserved, Copyright(c) Fujitsu Learning Media Limited
	version 1.0
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<LINK rel="stylesheet" type="text/css" href="Style.css">
<title>販売管理システム</title>
</head>

<body>

<jsp:include page="/head.jsp" flush="true"/>

<div class="title">
	<h2>フライト商品詳細</h2>
</div>

<div class="right">
	<div align="center">
		<form action="/tourSystemans/tsys" method="POST" name="inFom">
			<!-- 次画面ID用フィールド -->
			<input type="hidden" name="BUTTON_ID" value="">
			<input type="hidden" name="ITEM_CODE" value="${requestScope.flight.itemCode }">

			<table border=1 cellspacing="0" cellpadding="4px" align="center">
				<tr>
					<td width="130px" class="colume">商品コード</td>
					<td width=240>${requestScope.flight.itemCode }</td>
				</tr>
				<tr>
					<td class="colume">便名</td>
					<td>${requestScope.flight.flightCode }</td>
				</tr>
				<tr>
					<td class="colume">運航日</td>
					<td>${requestScope.flight.date }</td>
				</tr>
				<tr>
					<td class="colume">出発時刻</td>
					<td>${requestScope.flight.arrivalTime }</td>
				</tr>
				<tr>
					<td class="colume">到着時刻</td>
					<td>${requestScope.flight.itemCode }</td>
				</tr>
				<tr>
					<td class="colume">出発空港</td>
					<td>${requestScope.flight.departureAirportName }</td>
				</tr>
				<tr>
					<td class="colume">到着空港</td>
					<td>${requestScope.flight.arrivalAirportName }</td>
				</tr>
				<tr>
					<td class="colume">料金</td>
					<td>${requestScope.flight.price }</td>
				</tr>
				<tr>
					<td class="colume">在庫数</td>
					<td>${requestScope.flight.stock }</td>
				</tr>
				<tr>
					<td class="colume">数量</td>
					<td><input type="text" name="QUANTITY" value="${param.QUANTITY}"></td>
				</tr>
			</table>

			<br>
			<!-- ボタン -->
			<input type="button" name="cmdSubmit" value="カートに入れる" class="cmdbutton"
						onClick="this.form.BUTTON_ID.value='0701_03_01'; this.form.submit()">

			<!-- メッセージ -->
			<div id="message" align="center" style="color:#FF0000">
				<c:out value="${requestScope.message }" escapeXml="false"/>
			</div>

			<br>

			<div align="right">
				<!-- ボタン -->
				<c:if test="${sessionScope.member.role=='Employee' }">
					<input type="button" name="cmdSubmit" value="商品販売メニュー" class="cmdbutton3"
							onClick="this.form.BUTTON_ID.value='M02_02'; this.form.submit()">
				</c:if>
			</div>
		</form>
	</div>
</div>

<jsp:include page="/foot.jsp" flush="true"/>

</body>
</html>

</body>
</html>