<!--
	メンバー変更画面（ID:）
	All Right Reserved, Copyright(c) Fujitsu Learning Media Limited
	version 1.0
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<LINK rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<LINK rel="stylesheet" type="text/css" href="css/Style.css">
<title>販売管理システム</title>
</head>

<body>

<jsp:include page="/head.jsp" flush="true"/>

<div class="title">
	<h2>メンバー変更</h2>
</div>

<div class="right">
	<div align="center">
		<form action="/tourSystemans/tsys" method="POST" name="inputFom">
			<!-- 次画面ID用フィールド -->
			<input type="hidden" name="BUTTON_ID" value="0">
			<input type="hidden" name="MEMBER_CODE" value="${requestScope.member.memberCode }">

			<table  border=1 cellspacing="0" cellpadding="4px" align="center">
				<tr>
					<td width=140 class="colume">メンバーコード</td>
					<td><c:out value="${requestScope.member.memberCode }" /></td>
				</tr>
				<tr>
					<td class="colume">メンバー名</td>
					<td>
						<input type="text" name="MEMBER_NAME" size="30"
							value="${requestScope.member.memberName }">
					</td>
				</tr>
				<tr>
					<td class="colume">パスワード</td>
					<td>
						<input type="text" name="PASSWORD" size="30"
							value="">
					</td>
				</tr>
				<tr>
					<td class="colume">郵便番号</td>
					<td>
						<input type="text" name="ZIP_CODE" size="10"
							value="${requestScope.member.zipCode }">
					</td>
				</tr>
				<tr>
					<td class="colume">都道府県</td>
					<td>
						<input type="text" name="PREFECTURE" size="50"
							value="${requestScope.member.prefecture }">
					</td>
				</tr>
				<tr>
					<td class="colume">住所</td>
					<td>
						<input type="text" name="ADDRESS" size="50"
							value="${requestScope.member.address }">
					</td>
				</tr>
				<tr>
					<td class="colume">電話番号</td>
					<td>
						<input type="text" name="TEL" size="30"
							value="${requestScope.member.tel }">
					</td>
				</tr>
				<tr>
					<td class="colume">メールアドレス</td>
					<td>
						<input type="text" name="MAIL" size="50"
							value="${requestScope.member.mail }">
					</td>
				</tr>
			</table>

			<br>

			<!-- ボタン -->
			<input type="button" name="cmdSubmit" value="変更する" class="cmdbutton"
						onClick="this.form.BUTTON_ID.value='0903_01_01'; this.form.submit()">

			<br><br>

			<!-- メッセージ -->
			<div id="message" align="center" style="color:#FF0000">
				<c:out value="${requestScope.message }" escapeXml="false"/>
			</div>

			<div align="right">
				<!-- ボタン -->
				<c:if test="${sessionScope.member.role=='Employee' }">
					<input type="button" name="cmdSubmit" value="メンバー管理メニュー" class="cmdbutton3"
							onClick="this.form.BUTTON_ID.value='M02_01'; this.form.submit()">
				</c:if>
			</div>

		</form>
	</div>
</div>

<jsp:include page="/foot.jsp" flush="true"/>

</body>
</html>